.result_container{
  background: inherit;
  width: 300px;
  height: 450px;
  position: absolute;
  top: 0%;
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}
#result{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(148,187,233,1) 100%);
    visibility: hidden;
}
#result p{
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    color: white;
}
#result img{
    width: 40%;
    height: 50%;
    margin-bottom: 20px;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}