.RQnAnH{
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  background: orange;
  border-radius: 20px;
  padding: 10px 0;
  position: absolute;
}
.RQnAnH .rebusQues {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 90%;
  height: 20%;
  background: whitesmoke;
}
.RQnAnH .rebusAns {
  height: 25%;
  width: 90%;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 15px;
  outline: none;
  padding: 0 5px;
  text-align: center;
}
.RQnAnH .btns{
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  height: 30%;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}
.RQnAnH .btns .btn{
  padding: 10px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background: #1c1c1c;
  color: whitesmoke;
  font-weight: 900;
  width: 40%;
}
.RQnAnH .btns .btn:hover{
  background: black;
  width: 41%;
}
.RQnAnH .hint{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 15%;
  font-size: 12px;
  overflow: auto;
  text-align: center;
  background: inherit;
  border-radius: 10px;
}
::-webkit-scrollbar{
	display: none;
}